@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.carouselItem {
  border-radius: 30px;
  /* min-width: 17.87rem; */
}
.carouselItem > div {
  pointer-events: none;
  
}
.carousel {
  margin-top: 10px;
  width: 100%;
  cursor: grab;
  overflow: hidden;
 
}
.innerCarousel {
  /* background-color: aqua; */
}
